.sidenav {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px
}

h2 {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 32px
}

.spacer {
  flex: 1 1 auto;
}

.align-left {
  position: absolute;
  left: 16px;
}

mat-grid-tile:hover {
  background-color: rgb(252, 233, 236);
}

.button-row button {
  margin-right: 8px;
}

.search {
  width: 90%;
}

.add-btn {
  width: 10%;
}

@media only screen and (max-width: 600px) {
  .search{
    width: 80%;
  }
  .add-btn {
    width: 20%;
  }
  
}