<mat-drawer-container autosize>
    <mat-drawer #drawer class="sidenav" mode="side" position="end" fixedInViewport="true">
        <router-outlet />
    </mat-drawer>

    <h2 class="mdc-list-item">Character List of Star Wars</h2>


      <mat-grid-list cols="12" rowHeight="32px">
        @for (people of peopleList(); track people) {
            <mat-grid-tile  colspan="11"  rowspan="1" (click)="selectPerson(people, drawer)">
                <span class="align-left">{{people.name}}</span>
            </mat-grid-tile>

            <mat-grid-tile colspan="1"  rowspan="1">
                <button mat-icon-button (click)="deletePerson(people, drawer)">
                    <mat-icon>delete</mat-icon>
                  </button>            
            </mat-grid-tile>
        }
    </mat-grid-list>
</mat-drawer-container>

